<p>register-screen works!</p>

<div class="bg-custom_lavender-200 w-1/5 m-auto rounded-3xl grid place-items-center gap-y-5">
    <div></div>
    <h3 class="font-bold text-3xl text-center">Registrierung</h3>
    <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
        {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
      </button>
    
      <mat-stepper class="rounded-3xl" orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Gib deinen Namen ein</ng-template>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput placeholder="Vorname, Nachname" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Weiter</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Gib deinen Username an</ng-template>
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput formControlName="secondCtrl"
                     required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Zurück</button>
              <button mat-button matStepperNext>Weiter</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Gib dein Passwort an</ng-template>
              <mat-form-field>
                <mat-label>Passwort</mat-label>
                <input matInput formControlName="thirdCtrl"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="forthFormGroup">
            <form [formGroup]="forthFormGroup">
              <ng-template matStepLabel>Gib dein Passwort ein zweites mal an</ng-template>
              <mat-form-field>
                <mat-label>Passwort</mat-label>
                <input matInput formControlName="forthCtrl"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="fifthFormGroup">
            <form [formGroup]="fifthFormGroup">
              <ng-template matStepLabel>Gib deine Email an</ng-template>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="fifthCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="sixthFormGroup">
            <form [formGroup]="sixthFormGroup">
              <ng-template matStepLabel>Gib deine Email ein weiters mal an</ng-template>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="sixthCtrl" placeholder="Ex. 1 Main St, New York, NY"
                       required>
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="seventhFormGroup">
            <form [formGroup]="seventhFormGroup">
              <ng-template matStepLabel>Gib deine Adresse an</ng-template>
              <mat-form-field>
                <mat-label>Addresse</mat-label>
                <input matInput formControlName="seventhCtrl" placeholder="Ex. Land, Stadt, Strasse, HNr"
                       required>

              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Zurück</button>
                <button mat-button matStepperNext>Weiter</button>
              </div>
            </form>
          </mat-step>
        <mat-step>
          <ng-template matStepLabel>Fertig</ng-template>
         
          <div class="gap-x-4">
            <button mat-button matStepperPrevious>Zurück</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-raised-button color="primary">Anmelden</button>
          </div>
        </mat-step>
      </mat-stepper>
<div></div>
</div>      
