<div
  class="grid  rounded-3xl p-6 cursor-pointer text-slate-950 bg-custom_lavender-100 hover:bg-custom_lavender-200 hover:text-black transition-all min-h-full">
  <a (click)="navigateToProductDetails(product.id)" class="grid place-items-center gap-3 min-h-full">
    <h3 class="font-bold text-xl text-center">{{product.title}}</h3>
    <img [src]="product.image" alt="Product Image" class="h-56 bg-white p-6 rounded-3xl" loading="lazy">
    <p class="font-semibold text-3xl  flex gap-4"><span
      class="text-lg line-through">{{unDiscountedPrice | currency:'EUR':'symbol'}} </span> <span
      class="text-custom_scarlet">{{discountedPrice | currency:'EUR':'symbol'}} </span></p>
    <app-star-rating [ratingCount]="product.rating.count" [rating]="product.rating.rate"></app-star-rating>
    <ng-container *ngIf="product.count">
      <p>Nur noch <span class="font-bold">{{product.count}}</span> verfügbar</p>
    </ng-container>
  </a>
  <button (click)="addToCart(product)"
          class="self-end uppercase text-lg !text-white !bg-custom_gunmetal" mat-flat-button>
    Add to Cart
    <mat-icon>
      shopping_cart
    </mat-icon>
  </button>
</div>
