<div *ngIf="timer > 0" class="flex justify-center items-center w-full">
  <div class="bg-gradient-to-r from-blue-500 to-purple-500 p-8 rounded-3xl shadow-md text-white text-center w-full">
    <h2 class="text-3xl font-extrabold mb-4">Exclusive Promo!</h2>
    <div class="flex justify-center items-center text-2xl font-bold mb-4">
      <span class="bg-white text-gray-800 px-3 py-1 rounded-md mr-2">DISCOUNT20</span>
    </div>
    <p class="text-2xl">Nur noch für <span class="font-extrabold">{{timerMinutes}}:{{timerSeconds}}</span> gültig</p>
  </div>
</div>
