<div *ngIf="product" class="">
  <h2 class="text-3xl text-center">{{ product.title }}</h2>
  <div class="flex justify-center items-center flex-col md:flex-row ">
    <img [src]="product.image" class="w-96" />
    <div class="p-6 divide-y md:w-1/2">
      <div class="grid grid-cols-2">
        <app-star-rating [rating]="product.rating.rate" [ratingCount]="product.rating.count"></app-star-rating>
        <div class="pl-40">
          <span class="text-lg line-through">{{unDiscountedPrice}}€</span> <span class="text-custom_scarlet"> {{discountedPrice}}€ </span>
        </div>
      </div>
      <div class="py-2">
        <button mat-flat-button color="warn" >
          in Warenkorb
        </button>
      </div>
      <p class="py-2">{{ product.description }}</p>
      <p class="text-gray-500 py-2">{{ product.category }}</p>
    </div>
  </div>

  <div class="divide-y text-center ">
    <div>
      <h1 class="text-2xl text-center "> Weitere Produkte </h1>
    </div>
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3 mx-3">
      <p>tshirt</p>
      <p>käse</p>
      <p>auto</p>
      <p>pc</p>
    </div>
  </div>

</div>
