<app-loading-spinner [showLoading]="showLoading"></app-loading-spinner>

<div class="lg:grid grid-cols-3 bg-custom_lavender-100 gap-6 p-6 rounded-3xl">
  <div class="col-span-2 bg-custom_lavender-200 grid  p-6 rounded-3xl">
    <ng-container *ngFor="let position of warenkorb.positionen">
      <div>
        <div class="flex justify-end w-full">
          <button (click)="onRemoveFromCart(position.produkt)" mat-icon-button>
            <mat-icon>remove_shopping_cart</mat-icon>
          </button>
        </div>
        <div class="grid grid-cols-4 p-6 gap-3">
          <div class="col-span-1 place-self-center">
            <img [src]="position.produkt.image" alt="Product Image" class="h-56 bg-white p-6 rounded-3xl"
                 loading="lazy">
          </div>
          <div class="col-span-3 flex flex-col gap-6">
            <div class="flex justify-between">
              <h1 class="text-xl font-bold">{{position.produkt.title}}</h1>
              <p class="text-xl font-bold">{{position.produkt.price | currency:'EUR':'symbol'}}</p>
            </div>
            <div class="flex justify-between">
              <div>
                <app-star-rating [ratingCount]="position.produkt.rating.count"
                                 [rating]="position.produkt.rating.rate"></app-star-rating>
                <p>{{position.produkt.category}}</p>
              </div>
              <mat-form-field>
                <input [formControl]="getFormControl(position.produkt.id.toString())" matInput min="1" type="number">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="col-span-1 flex flex-col gap-3">
    <div class="grid grid-cols-2 place-content-center text-base bg-custom_lavender-200 rounded-3xl p-3">
      <div class="text-base">
        <p>Subtotal: {{WarenKorbGesamtPreis | currency:'EUR':'symbol'}}</p>
        <p>Shipping: FREE!!!</p>
      </div>
      <div class="grid grid-rows-3 ">
        <div>{{name}} </div>
        <div>{{email}}</div>
        <div>{{adresse}}</div>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 bg-custom_lavender-100" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Additional Costs
          </mat-panel-title>
          <mat-panel-description>

          </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="addedCosts" class="grid grid-cols-1 p-3 gap-6">
          <p>"Ich möchte keine Versicherungen doch nicht abschließen"</p>
          <!-- Ich schwör das is so hässlich, i cant no more, would appreciate some help-->
          <mat-slide-toggle (click)="onClick1()" [formControl]="getAddedCostsFormControl('handleWithCare')">"Handle with
            care" - Shipping (14,99€)
          </mat-slide-toggle>
          <mat-slide-toggle (click)="onClick2()" [formControl]="getAddedCostsFormControl('expressDelivery')">
            Express-Delivery (9,99€)
          </mat-slide-toggle>
          <mat-slide-toggle (click)="onClick3()" [formControl]="getAddedCostsFormControl('kaufschutz')">Käuferschutz
            (5.95€)
          </mat-slide-toggle>
          <mat-slide-toggle (click)="onClick4()" [formControl]="getAddedCostsFormControl('weilWirsKoennen')">Weil wirs
            können (0.69€)
          </mat-slide-toggle>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
    <p class="font-bold text-3xl self-end">
      {{WarenKorbGesamtPreis | currency:'EUR':'symbol'}} <!-- Hier dann neuen Preis berechnen mit den added costs-->

    </p>
    <button (click)="navigateToPurchase()" [disabled]="warenkorb.positionen.length===0"
            [ngClass]="warenkorb.positionen.length > 0? '!text-white !bg-custom_gunmetal':' '"
            class="font-bold uppercase text-lg"
            mat-flat-button>
      Kaufen
      <mat-icon>
        shopping_cart
      </mat-icon>
    </button>
  </div>
</div>
