<app-loading-spinner [showLoading]="loading"></app-loading-spinner>

<div class="p-3">
  <h1 mat-dialog-title>NEWSLETTER</h1>
  <div mat-dialog-content>
    <div class="grid gap-3">
      <p>
        Data is good for all of us and we would like to keep you up to date. Please enter your email address here and we
        will send you our newsletter and you will receive a Promocode for 30% Discount on your next purchase.
      </p>
      <mat-form-field class="w-full">
        <input [formControl]="email" matInput placeholder="max@mustermann.de">
        <mat-error>Invalid email</mat-error>
        <ng-container *ngIf="email.hasError('invalid')">
          <mat-error>Email is invalid</mat-error>
        </ng-container>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="flex w-full justify-between">
      <button (click)="onClose()" mat-button>Close</button>
      <button (click)="onSubmit()" color="primary" mat-flat-button>Ok</button>
    </div>
  </div>

</div>
