.cool-bg{
  position: relative;
  height: 100%;
  background-image: radial-gradient(circle, #00a2df, #6db0e8, #9dc0ee, #c2d0f3, #e0e3f8, #ebecfa, #f6f5fc, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff,#ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}
