<div class="">
  <div><h1 class="cool-bg text-7xl font-bold text-center py-48 mx-60">
    Willkommen, {{genderFromUser}} {{nameFromUser}} </h1></div>
  <app-promo-banner></app-promo-banner>
  <div><h3 class="text-3xl font-bold flex justify-center p-3">Products</h3></div>
</div>
<app-product-grid></app-product-grid>


<!-- Maybe alternatives Layout für ein Werbebanner an der rechten Seite
     <div class="grid grid-cols-5">
    <div class="col-span-4"><app-product-grid></app-product-grid></div>
    <div class="col-span-1"> werbung </div>
</div> -->
