<div *ngIf="product" class="">
  <h2 class="text-3xl text-center">{{ product.title }}</h2>
  <div class="flex justify-center items-center flex-col md:flex-row ">
    <img [alt]="product.title" [src]="product.image" class="w-96"/>
    <div class="p-6 divide-y md:w-1/2">
      <div class="flex justify-between w-full">
        <app-star-rating [ratingCount]="product.rating.count" [rating]="product.rating.rate"></app-star-rating>
        <p class="font-semibold text-3xl  flex gap-4"><span
          class="text-lg line-through">{{unDiscountedPrice | currency:'EUR':'symbol'}} </span> <span
          class="text-custom_scarlet">{{discountedPrice | currency:'EUR':'symbol'}} </span></p>
      </div>
      <div class="py-2">
        <button (click)="addToCart()"
                class="self-end uppercase text-lg !text-white !bg-custom_gunmetal" mat-flat-button>
          Add to Cart
          <mat-icon>
            shopping_cart
          </mat-icon>
        </button>
      </div>
      <p class="py-2">{{ product.description }}</p>
      <p class="text-gray-500 py-2">{{ product.category }}</p>
    </div>
  </div>

  <div class="divide-y text-center ">
    <div>
      <h1 class="text-2xl text-center "> Weitere Produkte </h1>
    </div>
    <div class="grid sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-3 mx-3">
      <p>tshirt</p>
      <p>käse</p>
      <p>auto</p>
      <p>pc</p>
    </div>
  </div>

</div>
